<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.traveloo.wearosapp">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="TravelooWear"
        android:theme="@android:style/Theme.DeviceDefault"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />


    </application>
</manifest>
